@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One:wght@800&family=Poppins:wght@200;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@200;200&display=swap');


/*---------------------------------------LOGIN-LAYOUT-------------------------------------*/

body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
    
}

.login-container {
  display: flex;
  flex-direction: row;
}

.left-login {
  background-color: #FFFFFF;
  width: 50%;
  height: 60vh;
 
}

.right-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #609AC4;
  width: 50%;
  height: 100vh;
}

.right-login img {
  max-width: 100%;
  max-height: 100%;
}

.left-login h1 {
  display: flex;
  justify-content: center;
  margin: 3%;
  margin-top: 8%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  font-weight: 100;
}



#clogin-frm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;   
   
   
    
}

.login-textfield-container {
    display: flex;
    
    flex-direction: column; 
    margin-top: 15%;  
    width: 75%;
  }
  
.login-textfield-container input {
    padding: 2%;
    border: solid 1px #609AC4; 
    border-radius: 3px;
    width: 100%;
    height: 20px;  

}

label{
    font-weight: normal;
}


.label-password-login {
  margin-top: 30px;
}

.back_to_shop a{
  text-align: left;
  font-size: 12px;
  text-decoration: none;
}

#login-btn,
#no-account{
    display: flex;
    align-items: center;
    justify-content: center;

}

#no-account a {
  text-decoration: none;
}
#login-btn button{
    
    margin-top: 8%;
    background-color: #B6DFF4;
    width: 30%;
    color: black;
    font-size: 15px;
    padding: 1%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
   
}


#no-account {
  font-size: 12px;
  margin-top: 2%;
}

/*--------------------------------------END-OF-LOGIN-LAYOUT-------------------------------------*/


